@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
	background-color: #f5f5f5;
}

h1 {
	color: #a6a6a6;
	font-size: 50px;
	font-family: 'Maven Pro', sans-serif;
	text-align: center;
}

#header-caps {
	color: #e6e600;
}

.form {
	text-align: center;
}