<div class="container">
	<div class="row justify-content-center">
		<div class="col-7 descriptive-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in tincidunt magna. Morbi congue ante ac porta rutrum. Curabitur ac bibendum erat, vulputate placerat ipsum. Suspendisse a sagittis leo. Nunc nec interdum sem, vel fringilla purus. Donec convallis aliquam est, ut pulvinar enim auctor vitae. Proin at tempus mauris. In mattis nisl a dui euismod, ultricies ullamcorper risus malesuada.</p>
		</div>
	</div>
</div>