<html>
	<head>
		<title>Lnkshortnr</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<h1><span id="header-caps">Lnk</span>shortnr</h1>
		<%= yield %>
		<script type="text/javascript" src="/js/application.js"></script>
	</body>
		<footer class="footer">
			<span class="footer-links">
				<a href="/">
				Home
				</a>
			</span>
			<span class="footer-links">
				<a href="/howto">
				How to use
				</a>
			</span>
			<span class="footer-links">
				<a href="/about">
				About
				</a>
			</span>
		</footer>
</html>