<html>
	<head>
		<title>Lnkshortnr</title>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>
	<body>
	<h1><span id="header-caps">L</span>nkshortnr</h1>
		<%= yield %>
	</body>
</html>